.blog {
    &__title-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:14px;

        @media screen and (min-width:768px){
            gap:16px;
        }

    }

    &__title {
        margin: 0;

        position: relative;
        display: block;
        text-transform: uppercase;
        @include font(700, 24px, calc(29 / 24), 0);        
        
    }

    &__line{        
        width: 100%;
        height: 1px;
        background-color:$primary-color;
    }

    &__slider-list {
        list-style: none;
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-bottom: 28px;

        @media screen and (min-width: 480px) {
            gap: 32px;
            margin-bottom: 32px;
        }

        @media screen and (min-width: 1280px) {
            
            margin-bottom: 44px;
        }
    }

    &__follow {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 32px;

        @media screen and (min-width: 768px) {
            gap: 40px;
        }

        @media screen and (min-width: 1280px) {
            gap: 48px;
        }
    }

    &__paragraf {
        
        @include font(500,18px,calc(22/18),0);
        text-align: center;

        @media screen and (min-width: 768px) {
            font-size: 32px;            
        }
    }

    &__btn-subscribe {
        font-family: inherit;
        @include font(500, 18px, calc(22/18), 0);
        
        background-color: #e86f54;
        color: #ffffff;
        text-align: center;
        border: transparent;
        padding: 8px 40px;
        border-radius: 38px;

        @media screen and (min-width: 768px) {
            padding: 20px 70px;
            font-size: 28px;
            line-height: 0.86;
        }

        &:hover {
            background-color: #e25b41;
        }

        &:focus {
            background-color: #fa6f54;
        }
    }

    &__slider {
        position: relative;
    }

    &__slider-left {
        position: absolute;
        cursor: pointer;
        
        top:0;
        left:0;
        bottom:0;
        @media  screen and (min-width:1279px) {
            left:6%;
        }
    }

    &__slider-right {
        position: absolute;
        cursor: pointer;
        top: 0;
        right:0;
        bottom: 0;
        @media screen and (min-width:1279px) {
            right:6%;
        }
    }

    &__icon {
        fill:  $basic-white;
        stroke: $basic-white;
        width: 41px;
        height: 27px;

        @media screen and (min-width:768px) {
            width: 96px;
            height: 64px;
            }

        @media screen and (min-width: 1279px) {
            
            fill: #000000;
            stroke: #000000;
        }
    }
}