.backdrop {
    position: fixed;
    z-index: 1;
    overflow-y: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }

    &.is-hidden .modal__subscribe {
        // transform: translate(-50%, 50%);
    }
}




@keyframes slideInLeft {
    0% {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}



.modal {

    &__subscribe {

        position: absolute;        
        top: 0;
        left: 0;
        bottom:0;
        right:0;
        margin:auto;
                   
        display: flex;
        justify-content: space-between;
        align-items: center;


        max-width: 100%;
        border: transparent;
        background-color: white;

        display: flex;
        flex-direction: column;

        @media screen and (min-width: 320px) and (max-width: 767.95px) {
            width: 272px;
            height: 380px;
        }

        @media screen and (min-width: 768px) and (max-width: 1279.99px) {
            width: 588px;
            height: 644px;
        }

        @media screen and (min-width: 1280px) {
            flex-direction: row;
            width: 860px;
            height: 528px;
        }
    }



    &__title-hidden {
        opacity: 0;
        position: absolute;
    }

    &__bcg {
        margin-left: 0;
        margin-right: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-color:$basic-white;

        @media screen  and (max-width: 767.95px) {
            width: 272px;
            height: 121px;
              background-image: 
                url(/src/images/blog/modal_mob/modal-mob.jpg);

              @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: url(/src/images/blog/modal_mob/modal-mob-2x.jpg);
              }
        }

        @media screen and (min-width: 768px) and (max-width: 1279.95px) {
            width: 588px;
            height: 271px;
              background-image: 
                url(/src/images/blog/modal_tablet/modal-tablet.jpg);

              @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: url(/src/images/blog/modal_tablet/modal-tablet-2x.jpg);
              }
        }

        @media screen and (min-width: 1280px) {
            width: 430px;
            height: 528px;

              background-image: 
                url(/src/images/blog/modal_desk/modal-desk.jpg);

              @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: url(/src/images/blog/modal_desk/modal-desk-2x.jpg);
              }
        }
    }


    &__data {
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding: 18px 16px 28px;

        
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            
            padding: 28px 118px 40px;
        }

        @media screen and (min-width: 1280px) {
            width:428px;
            padding: 112px 38px;
        }
    }

    &__title {        
        margin-bottom: 14px;
        text-align: center;
        color: $primary-color;
        @include font(600, 19px, calc(24/19), 0);

        @media screen and (min-width:768px) {
            margin-bottom: 24px;
            @include font(600, 28px, calc(34/28), 0);
        }
    }

    &__text {
        margin-bottom: 18px;
        text-align: center;
        color:$faint-gray-color;
        @include font(400, 12px, calc(12/15), 0);

        @media screen and (min-width:768px) {
            margin-bottom: 32px;
            @include font(400, 16px, calc(16/20), normal);
        }
    }

    &__form {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }


    &__label { 
        margin-bottom: 18px;
        width: 100%;        
        color: $faint-gray-color;
        cursor: pointer;
        @include font(500, 10px, calc(10/13), 0.03em);

        @media screen and (min-width:768px) {

            font-size: 14px;
        }      

    }

    &__input.error {
            border: 2px solid red;
        }

    &__input {
        margin-top: 8px;        
        cursor: pointer;
        border:1px solid $border-color;
        border-radius:4px;
        width: 100%;       
        height: 35px; 
        color: $faint-gray-color;      

        @media screen and (min-width:768px) {            
            height: 49px;
        }

        &::placeholder {
            @include font(500,12px,calc(12/14),0.03em);
            color: rgba(0, 0, 0, 0.4);

            @media screen and (min-width:768px) {
                    @include font(500, 14px, calc(14/17), 0.03em);
                }

        }

        &:focus{
            outline:none;            
        }

    }

    &__btn-subscribe {
        width: 100%;
        background-color: $brand-color;
        color: $basic-white;
        border:transparent;
        border-radius: 4px;


        font-family: inherit;
        font-size: 14px;
        text-align: center;
        border-radius: 8px;
        padding: 10px 82px;

        &:hover{
            background-color: $brand-color-hover;
        }
        &:focus{
            background-color: $brand-color-focus;
        }

        @media screen and (min-width:768px) {
            padding: 14px 122px;
            font-size: 18px;
        }
    }

    &__btn-close {
        position: absolute;
        top: 17px;
        right: 17px;
        width: 18px;
        height: 18px;

        @media screen and (min-width:768px) {
            width: 24px;
            height: 24px;
            top: 28px;
            right: 28 px
        }
    }

    &__btn-icon {
        width: 12px;
        height: 12px;

        @media screen and (min-width:768px) {
            width: 16px;
            height: 16px;
        }
    }
}